* {
    margin: 5px;
    padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

nav li {
  flex-grow: 1;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

nav a:hover {
  background-color: #111;
}

nav a.active {
  border-bottom: 4px solid white;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat.woff2') format('woff2'),
       url('fonts/montserrat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.item .image-container:hover .description {
  opacity: 1;
}

body {  
    background-color:#14161a;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, li {
    color:white;
    text-align: center;
}

p, li {
    color: white;
    font-size: 18px;
    list-style-type: none;
}

.item .image-container:hover .description {
  opacity: 1;
}
