body {
  background-color: #14161a;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  margin-left: 20px;
}

h1 {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  background-color: #474c57;
  width: 80%;
  margin: 0 auto;
  padding: 0px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

nav li {
  flex-grow: 1;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

nav a:hover {
  background-color: #111;
}

nav a.active {
  border-bottom: 4px solid white;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat.woff2') format('woff2'),
       url('fonts/montserrat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.item h2 {
  color: #276cf5;
  font-size: 24px;
  margin: 10px 0;
}

.item .image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}

.item .image {
  width: 400px;
  height: 267px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.item .image:hover {
  opacity: 0.8;
  filter: brightness(60%);
}

.item .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
}

.item .image-container:hover .description {
  opacity: 1;
}